@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


@keyframes ripple-border {
  0% {
    opacity: 0.6;
    transform: scale(0.6);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.animate-ripple::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: rgba(56, 189, 248, 0.35);
  /* light blue fill */
  animation: ripple-bg 0.6s ease-out;
  pointer-events: none;
}

.animate-ripple::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid rgba(56, 189, 248, 0.7);
  /* light blue border */
  animation: ripple-border 0.6s ease-out;
  pointer-events: none;
}

.text-shadow-hard {
  text-shadow:
    0 4px 2px rgba(0, 0, 0, 0.15),
    0 5px 20px rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-slideOut {
  animation: slideOut 0.6s ease-in-out forwards;
}

.animate-slideIn {
  animation: slideIn 0.6s ease-in-out forwards;
}

.inverted-radius {
  --r: 20px;
  /* the radius */
  --s: 20px;
  /* size of inner curve */
  --x: 720px;
  --y: 10px;

  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  mask:
    calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px)) calc(-1*var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1*var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}


/* Tablet */
@media (max-width: 1024px) {
  .inverted-radius {
    --x: 280px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .inverted-radius {
    --x: 190px;
    --y: 7px
  }
}

/* Mobile */
@media (max-width: 440px) {
  .inverted-radius {
    --x: 180px;
    --y: 5px;
  }
}

@layer utilities {
  .text-outline {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}








/* marquee  */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee-paused {
  animation-play-state: paused;
}