@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


@keyframes ripple-border {
  0% {
    opacity: 0.6;
    transform: scale(0.6);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee-paused {
  animation-play-state: paused;
}


.animate-ripple::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: rgba(56, 189, 248, 0.35);
  /* light blue fill */
  animation: ripple-bg 0.6s ease-out;
  pointer-events: none;
}

.animate-ripple::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid rgba(56, 189, 248, 0.7);
  /* light blue border */
  animation: ripple-border 0.6s ease-out;
  pointer-events: none;
}

.text-shadow-hard {
  text-shadow:
    0 4px 2px rgba(0, 0, 0, 0.15),
    0 5px 20px rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}


.shape-wrap {
  position: relative;
  display: inline-block;
}

/* Main masked shape */
.shape-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background: green;
  border-radius: 20px;
  z-index: 0;

  --r: 20px;
  --s: 30px;
  --x: 20px;
  --y: 10px;

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(at var(--r) var(--r), #000 75%, #0000 0);
  --_d: (var(--s) + var(--r));

  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0, #0000 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

/* Diagonal filler */
.shape-wrap::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 95px;
  background: green;
  transform: rotate(49.5deg);
  top: 25.5px;
  left: 24.5px;
  border-radius: 5px;
  z-index: 1;
}

/* Child content */
.shape-wrap>* {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
}