@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


@keyframes ripple-border {
  0% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.animate-ripple::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: rgba(56, 189, 248, 0.35); /* light blue fill */
  animation: ripple-bg 0.6s ease-out;
  pointer-events: none;
}

.animate-ripple::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid rgba(56, 189, 248, 0.7); /* light blue border */
  animation: ripple-border 0.6s ease-out;
  pointer-events: none;
}

.text-shadow-hard {
  text-shadow:
    0 4px 2px rgba(0, 0, 0, 0.15),
    0 5px 20px rgba(0, 0, 0, 0.25);
}