@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


.text-shadow-hard {
  text-shadow:
    0 4px 2px rgba(0, 0, 0, 0.15),
    0 5px 20px rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-slideOut {
  animation: slideOut 0.6s ease-in-out forwards;
}

.animate-slideIn {
  animation: slideIn 0.6s ease-in-out forwards;
}



/* Tablet */
@media (max-width: 1024px) {
  .inverted-radius {
    --x: 280px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .inverted-radius {
    --x: 190px;
    --y: 7px
  }
}

/* Mobile */
@media (max-width: 440px) {
  .inverted-radius {
    --x: 180px;
    --y: 5px;
  }
}

@layer utilities {
  .text-outline {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}


/* marquee  */

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.marquee-paused {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee2 18s linear infinite;
}